:root {
  --base: #1e1e2e;
  --text: #cdd6f4;
  --blue: #89b4fa;
  --pink: #f5c2e7;
  --hover: #b4befe;
}

body {
  background: var(--base);
  color: var(--text);
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  color: var(--pink);
  font-size: 2rem;
}

#clock {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: var(--blue);
}

.clock {
  font-size: 1.1rem;
  color: var(--blue);
  margin-top: 0.25rem;
}


.links a {
  margin: 0 1rem;
  color: var(--blue);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.links a:hover {
  transform: scale(1.1);
  color: var(--hover);
}


.weather {
	color: var(--blue);
	font-size: 1rem;
	margin-top: 0.5rem;
}

.quote {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--text);
  font-style: italic;
  opacity: 0.9;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

